<div *ngIf="!isDataAvailable" style="width:600px;height:500px">
    <div class="outer">
        <div class="loader"></div>
    </div>
</div>
<!-- 
<h3>
    Sentitment Data for {{ticker}}
    <small class="text-muted">stock close % change versus sentiment % change</small>
</h3>
<nvd3 #nvd3 [options]='options' [data]='data'></nvd3>
 -->
 <nvd3 #nvd3 [options]='options' [data]='data'></nvd3>
<!-- 
<div class="card mb-3 fuzzy-border">
    <div class="card-header">
        <i class="fa fa-table"></i> Sentitment Data for {{ticker}}</div>
    <div class="card-body">
        <nvd3 #nvd3 [options]='options' [data]='data'></nvd3>
    </div>
    <div class="card-footer small text-muted">stock close % change versus sentiment % change</div>
</div> 
-->
        