.link-container {
    /* border: 1px solid;*/
    color: #47739e;
}

.link-container a {
    display: block;
    height: 100%;
    color: #47739e;
}

.link-container a:hover {
    background: #edf2f7;
    color: #47739e;
}