<div *ngIf="!loaded" style="width:600px;height:500px">
    <div class="outer">
        <div class="loader">loading...</div>
    </div>
</div>


<div *ngIf="loaded">
<table datatable  [dtOptions]="dtOptions" class="table table-bordered">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Company</th>
        <th>Exchange</th>
        <th>Sector</th>
        <th>Industry</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rec of this.data" ng-click="onSelect(rec);"> 
      <!-- <tr ng-repeat="rec in this.data"> -->
        <td ng-click="onSelect(rec);">{{rec.Ticker}}</td>
        <td>{{rec.Company}}</td>
        <td>{{rec.Exchange}}</td>
        <td>{{rec.Sector}}</td>
        <td>{{rec.Industry}}</td>
        
      </tr>
    </tbody>
  </table>



</div>