.bg-dark {
    /*background-color: #343a40 !important;*/
    background-image: linear-gradient(#6d94bf, #446E9B 50%, #3e648d);
}

.navbar-nav {
    background-image: linear-gradient(#6d94bf, #446E9B 50%, #3e648d);
}

.fuzzy-border {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

 
 .btn {
   text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
 }
 
 .btn-primary {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#6d94bf), color-stop(50%, #446E9B), to(#3e648d));
   background-image: linear-gradient(#6d94bf, #446E9B 50%, #3e648d);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #345578;
 }
 
 .btn-primary:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#5f8ab9), color-stop(50%, #3e648d), to(#385a7f));
   background-image: linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #2e4b69;
 }
 
 .btn-secondary {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), color-stop(50%, #999), to(#8f8f8f));
   background-image: linear-gradient(#bfbfbf, #999 50%, #8f8f8f);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #807f7f;
   color: #fff;
 }
 
 .btn-secondary:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), color-stop(50%, #8f8f8f), to(#858585));
   background-image: linear-gradient(#b5b5b5, #8f8f8f 50%, #858585);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #757575;
 }
 
 .btn-success {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#61dd45), color-stop(50%, #3CB521), to(#36a41e));
   background-image: linear-gradient(#61dd45, #3CB521 50%, #36a41e);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #2e8a19;
 }
 
 .btn-success:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#52da34), color-stop(50%, #36a41e), to(#31921b));
   background-image: linear-gradient(#52da34, #36a41e 50%, #31921b);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #287916;
 }
 
 .btn-info {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#7bbdf7), color-stop(50%, #3399F3), to(#208ff2));
   background-image: linear-gradient(#7bbdf7, #3399F3 50%, #208ff2);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #0e80e6;
 }
 
 .btn-info:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#68b3f6), color-stop(50%, #208ff2), to(#0e86ef));
   background-image: linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #0c75d2;
 }
 
 .btn-warning {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9c22), color-stop(50%, #D47500), to(#c06a00));
   background-image: linear-gradient(#ff9c22, #D47500 50%, #c06a00);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #a15900;
 }
 
 .btn-warning:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ff930d), color-stop(50%, #c06a00), to(#ab5e00));
   background-image: linear-gradient(#ff930d, #c06a00 50%, #ab5e00);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #8d4e00;
 }
 
 .btn-danger {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1d1b), color-stop(50%, #CD0200), to(#b90200));
   background-image: linear-gradient(#ff1d1b, #CD0200 50%, #b90200);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #9a0200;
 }
 
 .btn-danger:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0906), color-stop(50%, #b90200), to(#a40200));
   background-image: linear-gradient(#ff0906, #b90200 50%, #a40200);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #860100;
 }
 
 .btn-dark {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1d1b), color-stop(50%, #CD0200), to(#b90200));
   background-image: linear-gradient(#ff1d1b, #CD0200 50%, #b90200);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #9a0200;
 }
 
 .btn-dark:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0906), color-stop(50%, #b90200), to(#a40200));
   background-image: linear-gradient(#ff0906, #b90200 50%, #a40200);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #860100;
 }
 
 .btn-light {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1d1b), color-stop(50%, #CD0200), to(#b90200));
   background-image: linear-gradient(#ff1d1b, #CD0200 50%, #b90200);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #9a0200;
 }
 
 .btn-light:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0906), color-stop(50%, #b90200), to(#a40200));
   background-image: linear-gradient(#ff0906, #b90200 50%, #a40200);
   background-repeat: no-repeat;
   -webkit-filter: none;
           filter: none;
   border: 1px solid #860100;
 }
 
 .btn-link {
   text-shadow: none;
 }
 
 .btn:active, .btn.active {
   background-image: none;
 }
 
 [class*="btn-outline-"] {
   text-shadow: none;
 }
 
 .badge-secondary {
   color: #fff;
 }
 